:root {
  --text: #ffffff;
  --heading: #bd064c;
  --bg: #23282b;
  --accent: #bd064c;
  --mono: 'Space Mono', monospace;

  font: 16px/145% var(--mono);
  letter-spacing: 0;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

#root {
  height: 100dvh;
}

body {
  margin: 0;
  background: var(--bg);
  overflow: hidden;
}

button,
input,
textarea {
  letter-spacing: 0;
}
